
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.form-field input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.hole-card {
  border: 1px solid red;
  display: grid;
  padding: 10px;
  margin-bottom: 20px;
}

.hero{
  background-image: url("https://media.giphy.com/media/ZY7tD6FsWhTyEUPNyR/giphy.gif");
  background-repeat: no-repeat;
  background-size: 100% auto;

}




.heroP{
  color: antiquewhite;
}
